<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<div class="name">Project Sample</div>
<div class="date">
  Last Modification: 12/06/2021 6:21 PM by yossy.pinhas@gmail.com
</div>
<div class="w3-bar w3-white">
  <a href="#" class="w3-bar-item w3-button w3-grey">Design files</a>
  <a href="#" class="w3-bar-item w3-button">BOM files</a>
  <a href="#" class="w3-bar-item w3-button" routerLink="/dfm">DFM reports</a>
  <a href="#" class="w3-bar-item w3-button">Supply chain(beta)</a>
</div>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Last modified on</th>
      <th scope="col">Last modified by</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Sample_design.tgz</td>
      <td>tgz</td>
      <td>12/06/2021 6:21 PM</td>
      <td>Yossy</td>
    </tr>
  </tbody>
</table>
