.image img {
  width: 200px;
  height: 250px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  display: block;
}
.button {
  background-color: #18698b; /* Green */
  border: none;

  text-align: center;
  text-decoration: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.button1 {
  padding: 10px 24px;
}
.button2 {
  color: white;
  padding: 12px 28px;
}
span.tooltipStyle {
  position: absolute;
  top: 73%;
  width: 200px;
  height: 80px;
  line-height: 24px;
  padding: 9px;
  font-size: 14px;
  margin-left: 50%;
  text-align: center;
  color: rgb(113, 157, 171);
  background: rgb(233 241 242);
  border: 0px solid rgb(255, 255, 255);
  border-radius: 5px;
  text-shadow: rgb(0 0 0 / 10%) 1px 1px 1px;
  box-shadow: rgb(0 0 0 / 10%) 1px 1px 2px 0px;
}

span.tooltipStyle::before {
  content: '';
  position: absolute;
  border-color: #0062cc transparent transparent transparent;
  top: -44px;
  left: 50px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 46px solid #82b4a9;
}
