<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<div class="name">Project Sample</div>
<div class="date">
  Last Modification: 12/06/2021 6:21 PM by yossy.pinhas@gmail.com
</div>
<div class="w3-bar w3-white">
  <a href="#" class="w3-bar-item w3-button">Design files</a>
  <a href="#" class="w3-bar-item w3-button">BOM files</a>
  <a href="#" class="w3-bar-item w3-button w3-grey">DFM reports</a>
  <a href="#" class="w3-bar-item w3-button">Supply chain(beta)</a>
</div>

<div class="image_placement">
  <img src="../../../../assets/images/project_image.svg" alt="" />
</div>
<div class="text">It's time to start a new DFM analysis</div>
<div class="text2">Get started with first DFM analysis in this project</div>

<button class="button" routerLink="/analysis" style="font-size:20px">
  <i class="fa fa-play-circle-o"> Run analysis </i>
</button>
<body>
  <body>
    <div id="wrapper">
      <span class="tooltipStyle"
        >Click here to run analysis<br />
        <button style="margin:10px">Skip for Sign up</button>
      </span>
    </div>
  </body>
</body>
